<div class="container mt-3">
  <h2 class="mb-3">Course List</h2>


  <table class="table table-hover">
    <thead class="table-light">
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of courseList">
      <th scope="row">{{ student.id }}</th>
      <td>{{ student.name }}</td>
      <td>
        <a class="btn btn-primary btn-sm" [routerLink]="['/editstudent', student.id, 'edit']"
           [queryParams]="{allowEdit: '1'}" routerLinkActive="active" ariaCurrentWhenActive="page" aria-current="page">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
