<h1>A4 Consume WebServices</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" routerLink="/courses" routerLinkActive="active" ariaCurrentWhenActive="page">Course List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/add-course" routerLinkActive="active">Add Course</a>
  </li>
</ul>

<router-outlet></router-outlet>
<app-footer></app-footer>
